html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#map {
  width: 650px;
  height: 400px;
  float: left;
  margin-left: 375px;
}
#chart {
  width: 650px;
  height: 500px;
  float: left;
  margin-left: 320px;
}
#form {
  width: 350px;
  height: 500px;
  float: left;
  border-width: 5pt;
  margin: 10px;
}
#displaytext {
  width: 300px;
  height: 100px;
  float: left;
  font-weight: bold;
  border-width: 5pt;
  margin: 10px;
}
#displayrow {
  flex-direction: row;
}
#button1 {
  background-color: #180861; /* Green */
  border: none;
  width: 190px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
